@font-face {
    font-family: 'soehne';
    src:  url('../font/soehne-breit-kraftig.woff2') format('woff2'),
          url('../font/soehne-breit-kraftig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html{
  margin: 0;
  overscroll-behavior: none;
  background-color: #ffffff;
}

section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.loggo {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

h1, h2 {
  font-family: 'soehne', Helvetica, Sans-Serif;
  font-size: 25px;
  color: #000;
  font-weight: 100;
  line-height: 1;
  z-index: 1;
}

.messCont {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45%;
  z-index: 1;

}
.mess {
  position: relative;
  font-size: 60px;
  margin: 0;
  opacity: 0;
  padding-top: 50px;
  transform: rotateX(90deg) translateY(50px);
}
.mess.fadefont {
  transform: none;
  opacity: 1;
  padding-top: 0px;
  transition: ease-in-out 0.5s;
  
}

/* intro */

.intro {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0; /*stop intro*/
  background-color: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
