@font-face {
    font-family: 'SohneBuch';
    src: url('font/TestSöhne-Buch.woff') format('woff');
}
@font-face {
    font-family: 'SohneKraftig';
    src: url('font/TestSöhne-Kräftig.woff') format('woff');
}
@font-face {
    font-family: 'SohneLeicht';
    src: url('font/TestSöhne-Leicht.woff') format('woff');
}
@font-face {
    font-family: 'SohneBreitBuch';
    src: url('font/TestSöhneBreit-Buch.woff') format('woff');
}
@font-face {
    font-family: 'SohneBreitKraftig';
    src: url('font/TestSöhneBreit-Kräftig.woff') format('woff');
}
@font-face {
    font-family: 'SohneBreitLeicht';
    src: url('font/TestSöhneBreit-Leicht.woff') format('woff');
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #efefef; 
}

* {
    box-sizing: border-box;
}

/* Font */

/* SohneBreit */
h1, a {
    font-family: 'SohneBreitBuch', Helvetica, Sans-Serif;
    font-weight: normal;
    text-decoration: none;
    color: #292929;
    font-size: 90px;
}

a {   
    font-size: 20px;
    letter-spacing: 0.75px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    display: inline-block;
}

/* Sohne */

h2, h3, p, .description, footer a, ul,li {
    font-family: 'SohneLeicht', Helvetica, Sans-Serif;
    font-weight: normal;
    text-decoration: none;
    color: #292929;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.3;
    list-style: none;
}


/* Navigation */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    z-index: 100;
}

.linkAbout {
    position: absolute;
    right: 30px;
}

/* Canvas */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


/* Header */

header {

    position: relative;
    padding: 30px 30px;
    height: 94vh;
    z-index: 90;
    /* background-color: #589fd8; */
}

header .description {
    position: absolute;
    width: 25%;
    margin: 0;
    bottom: 30px;
}


/* Home Section  */

.gridContainer {
    padding: 25px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    z-index: 90;
}

.gridItem {
    background-color: rgba(240, 240, 240, 0.95);

}

.gridItem h2 {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 45px;
    margin: 0;
}


img, video{
    width: 100%;
    display: inherit;
}

/* Projecte Section */

.projectHeader {
    margin-top: 20vh;
    height: auto;  
}

.projectTitel {
    text-align: center;
}

.projectTitel h1 {
}

.projectDescription {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}
.projectDescription ul {
    padding: 0;
    margin: 0;
}
.projectDescription li:first-child {
    color: #c0c0c0;
}
.projectDescription span {
    display: block;
    text-indent: 2.5em;
}

/* Project Content Grid Section */

.pGridContainer {
    padding: 25px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    z-index: 90;
}

.pGridItem1 {grid-column: span 1;}
.pGridItem2 {grid-column: span 2;}
.pGridItem3 {grid-column: span 3;}

.gridItem h2 {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 45px;
    margin: 0;
}

/* Footer */

footer {
    position: relative;
    z-index: 20;
    padding: 150px 30px 80px;
}

footer a {
    display: block;
}











@media only screen and (max-width: 500px) {
    header .description {
        width: 80%;
        font-size: 18px;
    }

    .gridContainer {
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}

