@font-face {
    font-family: 'SohneBuch';
    src: url('font/TestSohne-Buch.woff') format('woff');
}
@font-face {
    font-family: 'SohneKraftig';
    src: url('font/TestSohne-Kraftig.woff') format('woff');
}
@font-face {
    font-family: 'SohneLeicht';
    src: url('font/TestSohne-Leicht.woff') format('woff');
}
@font-face {
    font-family: 'SohneBreitBuch';
    src: url('font/TestSohneBreit-Buch.woff') format('woff');
}
@font-face {
    font-family: 'SohneBreitKraftig';
    src: url('font/TestSohneBreit-Kraftig.woff') format('woff');
}
@font-face {
    font-family: 'SohneBreitLeicht';
    src: url('font/TestSohneBreit-Leicht.woff') format('woff');
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #010311; 
}

.gray {
    background-color: #eeeeee;
}

* {
    box-sizing: border-box;
}

/* Font */

/* SohneBreit */
h1, a {
    font-family: 'SohneBreitBuch', Helvetica, Sans-Serif;
    font-weight: normal;
    text-decoration: none;
    color: #545667;
    font-size: 70px;
}

a {   
    font-size: 20px;
    letter-spacing: 0.75px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    display: inline-block;
}

/* Sohne */

h2, 
h3,
h4, 
p, 
.description, 
footer a, 
ul,
li,
li a {
    font-family: 'SohneLeicht', Helvetica, Sans-Serif;
    font-weight: normal;
    text-decoration: none;
    color: #545667;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.3;
    list-style: none;
}

.description {
    font-size: 20px;
}

.gray a,
.gray h1,
.gray h2,
.gray h3,
.gray p,
.gray li {
    color: #1b1b1b;
}

li:first-child {
    color: #545667;
}


/* Navigation */

nav {
    position: relative;
    z-index: 110;
}
.linkStart {
    position: fixed;
    padding: 20px 30px;
    top: 0;
    left: 0;
}

.linkAbout {
    position: fixed;
    padding: 20px 30px;
    top: 0;
    right: 0;
}


/* Canvas */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


/* Header */

header {

    position: relative;
    padding: 30px 30px;
    height: 94vh;
    z-index: 90;
    /* background-color: #589fd8; */
}

header .description {
    position: absolute;
    width: 25%;
    margin: 0;
    bottom: 30px;
}


/* Start Section  */

.gridContainer {
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    z-index: 90;

    justify-items: center;
    align-items: center;

}

.gridItem {
    position: relative;
    opacity: 0.1;
    transition: 0.75s ease-in-out ;
    filter: grayscale(100%);
}
.gridItem.activ {
    opacity: 1;
    filter: grayscale(0%);
}

.gridItem a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.gridItem h2 {
    padding-top: 10px;
    padding-left: 5px;
    /* padding-bottom: 45px; */
    margin: 0;
    font-size: 16px;
}


img, video{
    width: 100%;
    display: inherit;
}

/* Start Project Section */

.projectHeader {
    margin-top: 20vh;
    height: auto;  
}

.projectTitel {
    text-align: center;
}

.projectDescription {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}
.projectDescription ul {
    padding: 0;
    margin: 0;
}
.projectDescription .projektLink {
    margin-top: 20px;
}

.projectDescription span {
    display: block;
    text-indent: 2.5em;
}

/* Project Grid Section */

.pGridContainer {
    padding: 25px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.pGridItem1 {display: inherit; grid-column: span 1;}
.pGridItem2 {display: inherit; grid-column: span 2;}
.pGridItem3 {display: inherit; grid-column: span 3;}


/* Next Project Grid Section */

.nextProjectGridContainer {
    padding: 25px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.npGridItemDescription {
    grid-column: 2 / span 2;
}

.nextproject {
    position: relative;
    z-index: 2;
}
.hiddenimg{
    display: none;
    position: absolute;
    z-index: 1;
    width: 150px;
}

/* Footer */

footer {
    position: relative;
    z-index: 20;
    padding: 150px 30px 80px;
}

footer a {
    display: block;
}

/* Page Transition */

  .loader{
    width: 100%;
    height: 100%;
    z-index: 200;
    background: #010311;
    position: fixed;
    top: 0;
    opacity: 1;
  }

  .loaderDark{
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #431fe7;
    position: fixed;
    top: 0;
    opacity: 1;
  }




@media only screen and (max-width: 500px) {
    header .description {
        width: 80%;
        font-size: 18px;
    }

    .gridContainer {
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}

