body {
   margin: 0;
   height: 100vh;
   display: grid;
   justify-items: center;
   align-items: center;
   overflow: hidden;
   background: #C7EEDE;
}

svg {
  width: 60%;
  display: block;
  margin: 0 auto;
}
